.contendor_about{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: #1d1d1d;
}

.contenedor_cubo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 50%;
}

.contenedor_texto {
    position: absolute;
    top: 50%;
    left: 10%;
    padding: 0 10px;
    max-width: 380px;
    transform: translateY(-50%);
}

.contenedor_parrafo{
    margin-top: 20px;
}

.contenedor_parrafo > p {
    line-height: 1.5;
}

/* .icons_menu__cards.about > img {
    filter: grayscale(0);
} */


@media(max-width:992px){
    .contenedor_texto {
        position: inherit;
        top: initial;
        left: initial;
        padding: 98px 10px 30px;
        max-width: initial;
        transform: initial;
        right: initial;
        z-index: 5;
    }

    .contenedor_cubo {
        position: initial;
        top: initial;
        transform: initial;
        right: initial;
        bottom: initial;
        z-index: 1;
    }
    #pyramid {
        position: initial;
        left: inherit;
        margin-left: 0;
        top: initial;
        max-width: 300px;
        margin: 0 auto;
        margin-top: -13%;
        height: initial;
        width: initial;
    }
}

@media(max-width:576px){
    #pyramid {
        position: initial;
        left: inherit;
        margin-left: 0;
        top: initial;
        max-width: 300px;
        margin: 0 auto;
        margin-top: -57%;
        height: initial;
        width: initial;
    }
}