.button_cards {
    position: absolute;
    top: 50%;
    left: 50%;
    background: var(--colorYe);
    border: 2px solid var(--colorYe);
    color: black;
    padding: 15px 10px;
    border-radius: 100%;
    font-family: "Ubuntu";
    transform: translate(-50%, -50% );
    display: none;
    outline: none;
    animation: fadeIn .2s ease-in;
}

.cards:hover .button_cards{
    display: block;
    cursor: pointer;
}

.content_descrip{
    margin: 20px 0;
}

.popup-content {
    width: 70%!important;
}

.popup-overlay {
    overflow-y: scroll;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.actions > .popup-content {
    width: 200px!important;
}

.tecnologias{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_tecologia{
    background: var(--colorYe);
    border: 2px solid var(--colorYe);
    padding: 10px 27px;
    cursor: pointer;
    outline: none;
    font-family: "Ubuntu";
    font-size: 15px;
    margin: 10px 10px;
}

.modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }

  .modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
  }

  .modal > .content {
    width: 100%;
    padding: 10px 5px;
  }

  @media(max-width:768px){
    .popup-content{
        width: 90%!important;
    }
  }