.contenedor_header {
    width: 60px;
    height: 100vh;
    position: absolute;
    background: #181818;
    z-index: 999;
}

.card_code {
    background: #070707;
    padding: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
}

.card_code > img {
    object-fit: contain!important;
}

.icons_menu__cards {
    max-width: 25px;
    cursor: pointer;
    margin: 17px auto;
    transition: all 500ms;
}

.icons_menu__cards > img {
    filter: grayscale(1);
}

.icons_menu__cards:hover.icons_menu__cards > img {
    filter: grayscale(0);
}

.icons_menu {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.contenedor_relative {
    width: 100%;
    height: 100%;
    position: relative;
}

.cards_icons_redes {
    max-width: 15px;
    cursor: pointer;
    margin: 10px auto;
    transition: all 500ms;
}

.cards_icons_redes img {
    filter: grayscale(1);
}

.cards_icons_redes:hover.cards_icons_redes img{
    filter: grayscale(0)
}

.icons_redes {
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
}