#pyramid {
    position: absolute;
    left: 50%;
    margin-left: 120px;
    top: 50%;
    margin-top: -210px;
    height: 500px;
    width: 100px;
    -webkit-transform-style: preserve-3d;
    -webkit-animation: spin 10s linear infinite;
    -webkit-transform-origin: 116px 200px 116px;
    -moz-transform-style: preserve-3d;
    -moz-animation: spin 10s linear infinite;
    -moz-transform-origin: 116px 200px 116px;
    -ms-transform-style: preserve-3d;
    -ms-animation: spin 10s linear infinite;
    -ms-transform-origin: 116px 200px 116px;
    transform-style: preserve-3d;
    animation: spin 10s linear infinite;
    transform-origin: 116px 200px 116px;
}

#pyramid>div {
    position: absolute;
    border-style: solid;
    border-width: 200px 0 200px 346px;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}

#pyramid>div:first-child {
    border-color: transparent transparent transparent rgba(50,50,50,.6);
    -webkit-transform: rotateY(-19.5deg) rotateX(180deg) translateY(-400px);
    -moz-transform: rotateY(-19.5deg) rotateX(180deg) translateY(-400px);
    -ms-transform: rotateY(-19.5deg) rotateX(180deg) translateY(-400px);
    /* transform: rotateY(-19.5deg) rotateX(180deg) translateY(-400px); */
}

#pyramid>div:nth-child(2) {
    border-color: transparent transparent transparent rgba(50,50,50,.6);
    -webkit-transform: rotateY(90deg) rotateZ(60deg) rotateX(180deg) translateY(-400px);
    -moz-transform: rotateY(90deg) rotateZ(60deg) rotateX(180deg) translateY(-400px);
    -ms-transform: rotateY(90deg) rotateZ(60deg) rotateX(180deg) translateY(-400px);
    transform: rotateY(90deg) rotateZ(60deg) rotateX(180deg) translateY(-400px);
}

#pyramid>div:nth-child(3) {
    border-color: transparent transparent transparent rgba(50,50,50,.9);
    -webkit-transform: rotateX(60deg) rotateY(19.5deg);
    -moz-transform: rotateX(60deg) rotateY(19.5deg);
    -ms-transform: rotateX(60deg) rotateY(19.5deg);
    transform: rotateX(60deg) rotateY(19.5deg);
}

#pyramid>div:nth-child(4) {
    border-color: transparent transparent transparent rgba(50,50,50,.8);
    -webkit-transform: rotateX(-60deg) rotateY(19.5deg) translateX(-116px) translateY(-200px) translateZ(326px);
    -moz-transform: rotateX(-60deg) rotateY(19.5deg) translateX(-116px) translateY(-200px) translateZ(326px);
    -ms-transform: rotateX(-60deg) rotateY(19.5deg) translateX(-116px) translateY(-200px) translateZ(326px);
    transform: rotateX(-60deg) rotateY(19.5deg) translateX(-116px) translateY(-200px) translateZ(326px);
}

#pyramid>div:after {
    position: absolute;
    color: #fff;
    left: -311px;
    top: -69px;
    text-align: center;
    opacity: .6;
}

#pyramid>div:first-child:after {
    position: absolute;
    content: url("https://lh3.googleusercontent.com/-qH9-c_Ymo1EvkhODf3FwVndP73WJoG-KGqCCcw1O_rx3jDUpggLF3EHyGp7o0ph4TFm_zyJSUlyxotrSsPH-Wbex3h78016GnoRwHGaTmuLjqUmoE1qwEy7L5mAev2Z-7TeLe2OrNLVIMjWnixTsPdoaVRy4p33cQEeWrRJX-ObZaoqr8YHqzTbSWjizkY3C-UHosJ4jOHa-JbsnWo8cwzuCFkElRCgmHuTzGSi0EueDVRF8L9RM9kvjnyRXeXEVtrteNnA-kcC12GHJTxf0dahCUHX0iPOebr-R_JtU60Pem914fUGVj8l27RQG52JnsovJeNo_NBxiULuJqrtoyt-nzqFEP3hQ1jBjMyworfXNRJoAKSNEogWrk4FZ4JbvghFYXsQaZ4ynNEbMjt5J4JkIYCnXCCkhYVGzF-U1x1uvtEKhjotHXPWh0uChfniaXwOMsA4dZjae4hLMme2_ML-XSsaL46GpUawj4yRTAzqaG5sIfD-wAesXByuUdCoYqfeuGKktrGM7tOa-zch6uFWODBggX6vS2-6GHm1lxrukkg6WvVo_i2T9dXlbqQgDaF2AMraEXQWQVvQ1owsjygmg82kV1WjtguJ0_virHne7_b2CI0N2G98xAZlwg-8OeeWBkfCzIEqfzMFThbAwCe3sJmYw7CaGUxAvioUGdKHP1fu4bjFSTdYn9EJv0B1okWNWKFYrZQB9EC_74SsdT-fvgVzLMxPZDl75atuNJZInKU=w119-h150-no");
/*     top: -100px;
    left: -341px; */
}

#pyramid>div:nth-child(2):after {
    position: absolute;
    content: url("https://lh3.googleusercontent.com/OCwgho09UQgH0ezzlGJvGBuxTBjYrqa6AaWWtKNju4igg7THUSBPzAGfq8UDPfPUDXbuFOFP6IBMnNe2SzdNRSH4uWWCvZYgf9nBfK1caa15nzvMaLj7R2KAnEjXJ9C0CNBD0ec4LmrfFd8sre2pIwEmRXD2lDqf3se1ewTWfUqN8ZvaFOs8Z4HSClZj0lObv7swxaITvJa36vAk1KAKN_gXfw27iyA9ZVuo7j1yEb30cJ8rA-bTm58aoDBc93wIFb0Rog91zbc5Ug5vuF7I7_07rlcvRweHWWLvKSKOSngMT886Oi8v-_473834JsAzFyqDQwz-wf5zbysYHTlT2dVmYtWiYW7CDyzDIeWZGXr4VghXoE31pv9XmC4oZVNc1NwbSvLxlPKvSNL3fGSdrsorwRWvmTsHmLZ-TbFVLzHubH6o9L9_f4gFUFuxIovOcqXGy3zDoN365k65X8MN2Fj_l5pW68wpfAyFuS-4yeGJbguJME-8zajxDyX5Vr-bZU7blZY75peAvHgWEJV8nD_Rx9i_FO1KYTxPWqFdHrewfu4mduccYOSc7oU-kTZfd1kyjQBDgh2KEK0t1GjW_uSvp6hDSKENE5rPSBPkd-K8tL1p5fdHTDsZvetNdy_y2EJxoPGyUFaItdXvmlsudNpqqSIT7E81PmZpsYgajqP4byVCA4PrFB8_fhznU5kFh_iIHxn0-4SoKx14e3RLsVPeoOp4l6kFd7WuXNWk5mmAc2s=s150-no");
}

#pyramid>div:nth-child(3):after {
    position: absolute;
    content: url("https://lh3.googleusercontent.com/UzeLynZ5Kyt7-fcaMf7fGZ-MaRlykajLd90E0yN2ewraads53PTq18ouT7OxSoCuXap7ZabaCblrZinoaJTmS4h940lJj50_YLVSUHSOYKQkHK4UgE5O_RdRil7R8j6mhOOhobLuD9XST_PaA0gNq-qbT7kZqgGDme3fCz_ojdgiXfdRZELe9Nz74zmxKYtZ20RfkddfqB1sGpsJGb5mT5o4otXKM74CoVtEnyuE_uOoerGj8zRSsRPPLhGDrMljfSDP4zKLg3Bsnw7KsIHH9MXZ2qg6_RnYmk0L67HhzP1ZuvEF7_Wx6Qr2664a40Kf0OkpTnQjITUDBA9ZrytI6bDEV3jy25KGhkjYH7ZnzMlU-1YUmZe3k9Fv_3viTGPmqSpbwmVbOKFVNwX_gmg1Ou4qcCM3X4onma3sSncx5gsOsUI7tzj-vjxm8LA14sBGdI2n_CIBiU1n06andk7Qlg5YdJYSAnOrm8AzeXDEwazD8v_IqR3HrNxemFL7VpUA97Sv5IL0Qc5mvx3V1y2Or1laf4QRF7WTkC9zQY2CucIiNDH_GUZ05bEl1yoTXXNJFx-W_4ABoKCdnZvUPPG8vuQF3k1WMwN7ERdOtAs-DgfUuXBxABU96BUB7-c_dZH0wmqENpAXLVnnVTDP0SQx1l9Vs3IbzwKn6RPmDTMMnco73OxmgHWS7n-5XTfUC_zu7pHhHB6sr3wobqvRb7vnZpipix2dxJN8Y07O_3qY2MopL8E=w144-h150-no");
}

#pyramid>div:nth-child(4):after {
    position: absolute;
    width: 150px;
    content: url("https://lh3.googleusercontent.com/_McIlNJleLiUso3eScJsRMOVo6n4-axbc6sfAj731BBIZWlQJuCu6GSC9AviE_uSeCalp6d6eky3WP4OyfisRv0BsUa_m-OAM8fyalt4Txb4A16vgyn2XxePUGR8i6JGpZMu4nP1w_rxiFr2Q8XQ67i8LRKTxdL_PIRpe1gXsxR1qgOcZQTDr2qHPoSzoldv_Y7F5EiDGrwyODpFkZXuFa-nOALOHcC3KwjnEaQZi5pET9D1v44KqAtmxKl9AnE8LBJOcFjKsgjJ_y_pdZvP4zt4tMqq5ZXMDNPF3CqsFL-tTYdPkDAKEZAhCw7fw-4biGusC5vZDgAiwHUqOfpRopwX2GXflXGIFx8uzwqpm5xj0KmNS66_0e36XL12YrySLwrgrCZ0D0TmkX2QZswpyRtTpU6iDb1gjURz0EqvEpGyW7T9_2MrUUEhjz5fRKJRaeCzkyl2767kH7_EG_NV8InHA3OdUDBj9f8DZbxZcq8TVKGq1FuU-cMphURJ2_h1MBK9F7WQuQMtgfgeRQ_VK3OV3GgGcNHeEDv758Nfmal92c8AjF0Nn6Yf51y24o9Itt7c9tgpOLhnOulm8oUZF8ra2ipyNEJCdQvCwmQmcwBqwvU4YBymzlsuUjs3C_86ZFRB13KmQ62PhNwjed13tp0cWyy9nhtJ12YEfcQqAZ86lvnhsljcighGhO-BvnOCbU6LD_G4rQgNxcRhn1bF6drhaEDxV1zGlsrNTkOfROBymHI=w150-h143-no");
    left: -315px;
    top: -91px;
}

@keyframes spin {
    0% {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    
    100% {
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}