.contenedor_projects{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: #1d1d1d;
}

.cards {
    min-width: 315px;
    width: 20%;
    height: 250px;
    position: relative;
    transition: all 500ms;
    overflow: hidden;
}



.cards:hover::before{
    background: transparent;
}



.cards:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 500ms;
    background: #00000059;
}

.flex_cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contenedor_cards {
    position: absolute;
    top: 0;
    left: 60px;
    bottom: 0;
    display: flex;
    align-items: center;
}

.cards__img {
    height: 100%;
}



@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media(max-width:992px){
    .contenedor_cards{
        position: initial;
        top: 0;
        left: initial;
    }

    .contenedor_cards {
        position: initial;
        top: 0;
        left: initial;
        margin: 82px 0;
    }

    .contenedor_projects{
        height: auto;
    }
}