.contenedor_tag {
    position: absolute;
    right: 10%;
    transform: translateY(-50%);
    top: 50%;
}

.contenedor_skill{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: #1d1d1d;
}

.contenedor_text_skill{
    position: absolute;
    top: 50%;
    left: 10%;
    padding: 0 10px;
    max-width: 380px;
    transform: translateY(-50%);
}

div#myCanvasContainer > canvas{
    width: 450px;
}


@media (max-width:991px){
    .contenedor_tag {
        position: initial; 
        right: initial; 
        transform: initial; 
        top: initial; 
        margin-top: 0;
    }

    .contenedor_text_skill {
        position: relative;
        padding: 90px 12px 0;
        transform: initial; 
        max-width: initial;
        left: initial;
        top: initial; 
    }

    .contenedor_skill{
        height: auto;
    }

    #myCanvasContainer {
        display: flex;
        justify-content: center;
    }
    .contenedor_texto__title > h3{
        text-align: center;
    }
}