@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,500,500i,700&display=swap');


.font_ubuntu{
    font-family: 'Ubuntu', ;
}

:root{
    --colorYe: #e3dd63;
}

.c_yellow{
    color: var(--colorYe);
}

.f_100{
    font-weight: 100;
}

.f_500{
    font-weight: 500;
}

.contenedor{
    position: relative;
    overflow: hidden;
}

.page {
    position: absolute;
    left: 15px;
    right: 15px;
  }
  
  .page-enter {
    opacity: 0;
    transform: scale(1.03);
  }
  
  .page-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
  }
  
  .page-exit {
    opacity: 1;
    transform: scale(1);
  }
  
  .page-exit-active {
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 300ms, transform 300ms;
  }
  